/* =======================ADD FONT====================== */
@font-face {
    font-family: vazir;
    src: url('../font/vazir/Vazir-Bold.woff2') format("woff2"),
    url('../font/vazir/Vazir-Medium.woff') format("woff");
}

/* =========================BODY============================= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body , button{
    background-color: #131414;
    font-family: vazir;
}

body{
    direction: rtl;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    display: block;
  width: 200px;
  height: 200px;
}

.container{
    margin-inline: 1.5rem;
}
/* ===================================HEADER============================== */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    background-color:transparent;
    z-index: 100;
}
.nav{
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: vazir;
    transition: color .3s;
}
.nav__logo:hover{
    color: rgb(185, 183, 183);
}

.nav__toggle,.nav__close{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    cursor: pointer;
}

/* ======================Navigation mobile device======================== */
@media screen and (max-width:1150px) {
    .nav__menu{
        position: fixed;
        top: 0;
        left: -100%;
        background-color:rgb(0, 0%, 6% , 0%);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 9rem;
        transition: left .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__link{
    color: #def5e4;
    font-weight: 100;
   transition: color .4s;
}

.nav__link:hover{
    color: rgb(0, 0, 0);
}

.nav__close,.nav__img{
    position: absolute;
}

.nav__close{
    top: 1rem;
    left: 1rem;
}

.nav__img{
    top: 30rem;
    right: 90px;
}
/* =========SHOW MENU========== */
.show-menu{
    left: 0;
  }

  /* ========scroll blur========= */
  .blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.404);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    top: 0;
    right: 0;
    z-index: -1;
  }

  /* ==============================HOME=========================== */
.home{
    position: relative;
    padding-top: 6.5rem;
}

.home__container{
    row-gap: 2rem;
}

.home__bg,
.home__shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.home__bg{
    object-fit: cover;
    object-position: center;
}

.home__shadow{
    background-color: linear-gradient(180deg,
                     hsla(0 , 0% , 0% , 0) 0%,
                     hsla(0 , 0% , 6%) 100%);
}

.home__data{
    position: relative;
    text-align: center;
}

.home__title{
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-family: vazir;
}

.home__image{
    max-width: 500px;
    justify-self: center;
   margin-top:4rem;
}

.home__img{
    rotate: 30deg;
}

.home__footer,
.home__location,
.home__social{
    display: flex;
}

.home__footer{
    justify-content: space-between;
    align-items: center;
}

.home__location{
    color: rgb(254, 255, 253);
    column-gap: 1rem;
}

.home__location i{
    font-size: 1.8rem;
    color: rgb(238, 255, 0);
}

.home__social{
    column-gap: 1.5rem;
}

.home__social a{
    color: yellow;
    font-size: 2rem;
    transition: color .4s;
}

.home__social a:hover{
    color: black;
}

/* ==============================bUTTON================================ */
.button{
    display: inline-flex;
    background-color: rgb(207, 207, 3);
    padding: 1rem 2rem;
    font-weight: 100;
    font-family: vazir;
    font-size: 15px;
    transition: background-color .4s;
}
.button:hover{
    background-color: rgb(247, 247, 49);
}

/* =================================GALLRY================================ */
.gallry__container{
    padding-top: 1.5rem;
    row-gap: 3.5rem;
    display: grid;
}

.gallry__content{
    row-gap: 2rem;
}

.gallry__cart{
    display: flex; 
    column-gap: 1.5rem;
    align-items: center;
    margin-top: 1rem ;
}

.section__title{
    text-align: center;
    margin-top: 3rem;
    color: aqua;
    font-size: 3rem;
    font-weight: 400;
}

.gallry__img{
    width: 200px;
}
.gallry__title{
    color: aqua;
    margin-bottom: .5rem;
}

.gallry__description{
    color: wheat;
}

.gallry__cart:nth-child(2) img{
    order: -1;
}

.gallry__button{
    justify-self: center;
}
/* ==========================ABOUT========================= */
.about__container{
    row-gap: 4rem;
}

.about__data{
     position: relative;
     text-align: center;
}

.about__discription{
    margin-bottom: 3rem;
    color: rgb(254, 255, 255);
}

.about__bread{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 1rem;
    right: 0;
}

.about__bread2{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 1rem;
    left: 0;
}

.about__img{
    width: 300px;
    height: 300px;
    margin-top: 2rem;
    justify-self: center;
}
/* ======================SHOPING===================== */
.shop__container{
    display: grid;
    padding-top: 3.5rem;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem 1.25rem;
}

.shop__cart{
    position: relative;
    background-color: rgb(46, 48, 48);
    padding: 6.5rem 1rem 1.25rem;
    border: 2px solid transparent;
    transition: border-color .4s;
}

.shop__cart:hover{
    border-color: yellow;
}

.shop__img{
    width: 180px;
    height: 180px;
    position: absolute;
    top: -4rem;
    left: 1rem;
    right: 0;
    margin: 0 auto;
}

.shop__title{
    color: antiquewhite;
    font-size: 1.5rem;
}

.shop__subtitle{
    display: block;
    margin-bottom: .75rem;
}

.shop__price{
    color: aqua;
}

.shop__button{
    padding: .400rem;
    font-size: 1.25rem;
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    cursor: pointer;
}

/* =======================VISIT========================== */
.visit__container{
    position: relative;
    padding-block: 3rem;
}

.visit__bg,
.visit__shadow{
    position: absolute;
    width: 100%;
    height: 100%;   
    right: 0;
    z-index: -1;
}

.visit__bg{
    object-fit: cover;
    object-position: center ;
}

.sectionn__title{
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    color: blue;
    background-color: antiquewhite;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.visit__description{
    text-align: center;
    margin-bottom: 2rem;
    color: black;
    background-color: aqua;
    border-radius: 20%;
    margin-top: 1rem;
}

.visit__data{
    text-align: center;
    display: grid;
  }

.visit__button{
   justify-self: center;
   padding: 0.8rem 3rem;
   border-radius:20% ;
}
/* ========================ّFOOTER========================= */
.footer{
    padding-block: 6rem 3rem;
}

.footer__container{
    position: relative;
    row-gap:4rem;
}

.footer__logo{
    display: inline-block;
    color: aqua;
    font-size: 2rem;
    margin-bottom: .5rem;
    transition: color .4s;
}

.footer__logo:hover{
    color: rgb(0, 173, 173);
}

.footer__discription{
    margin-bottom: 2rem;
    color: #def5e4;
}
.footer__content{
    display: grid;
    grid-template-columns: repeat(2 ,max-content );
    gap: 4rem 2rem;
    color: antiquewhite;
}
.footer__title{
    color: aqua;
    margin-bottom: .5rem;
}

.footer__list{
    display: grid;
    row-gap: .75rem;
}

.footer__info{
    font-style: normal;
}

.footer__social{
    display: flex;
    column-gap: 1.25rem;
}

.footer__social a{
    color: yellow;
    font-size: 1.5rem;
    transition: color .4s;
}

.footer__social a:hover{
    color: yellowgreen;
}

.footer__copy{
    display: block;
    margin-top: 6rem;
    text-align: center;
    color: antiquewhite;
}